@font-face {
  font-family: "Vazir";
  src: url("../fonts/Vazir.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/Vazir.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Vazir.woff2") format("woff2"),
    url("../fonts/Vazir.woff") format("woff"),
    url("../fonts/Vazir.ttf") format("truetype");
  /* Safari, Android, iOS */
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 6px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  font-family: "Vazir" !important;
}

/* Sidebar */
.sidebar {
  width: 250px;
  height: 100vh;
  position: fixed;
  background-color: white;
  transition: all 0.5s ease-out;
  padding: 2rem;
  overflow-y: hidden;
}

.sidebar:hover {
  overflow-y: auto;
}

.sidebar.inactive {
  margin-right: -250px;
}

.sidebar .sidebar-item {
  margin-top: 0.5rem;
}

.sidebar .sidebar-item .sidebar-link {
  text-decoration: none;
  color: #25396f;
  padding: 0.7rem 1rem;
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  transition: all 0.5s;
}

.sidebar .sidebar-item .sidebar-link:hover {
  background-color: #f0f1f5;
}

.sidebar .sidebar-item .sidebar-link i {
  color: #7c8db5;
}

.sidebar .sidebar-item .sidebar-link {
  cursor: pointer;
}

.sidebar .sidebar-item.active .sidebar-link {
  background-color: #435ebe;
  color: #fff;
}

.sidebar .sidebar-item.active .sidebar-link i {
  color: #fff;
}

.sidebar .submenu {
  list-style: none;
}

.sidebar .submenu .submenu-item a {
  padding: 0.7rem 1rem;
  display: block;
  color: #25396f;
  font-size: 0.85rem;
  font-weight: 600;
  text-decoration: none;
  transition: all 0.3s;
}

.sidebar .submenu .submenu-item a:hover {
  margin-right: 0.3rem;
}

.sidebar .sidebar-item .bi-chevron-down {
  font-size: 0.8rem;
}

/* Main */
.main {
  background-color: #f2f7ff;
  height: 100vh;
  transition: all 0.5s ease-out;
}

.main.active {
  margin-right: 0px;
}

@media (min-width: 992px) {
  .main {
    margin-right: 250px;
  }
}

[x-cloak] {
  display: none !important;
}
